<c-col xs="12">
  <c-card class="mb-4">
    <c-card-header>
      <div class="row">
        <div class="col">
          Pesquisar Produto:
        </div>
        <div class="col">
          <div id="btn-rigth">
            <button type="button" class="btn btn-primary btn-sm" (click)="abrirModalProduto(produtos)">Incluir Produto</button>
          </div>
        </div>
      </div>
    </c-card-header>
    <c-card-body>
<div ngbAccordion>
	<div ngbAccordionItem [collapsed]="false">
		<h2 ngbAccordionHeader>
			<button ngbAccordionButton id="show"class="text-black-50">Filtro(s) de Pesquisa</button>
		</h2>
		<div ngbAccordionCollapse>
			<div ngbAccordionBody>
				<ng-template>
          <form>

            <div class="form-group row">
              <label for="colFormLabel" class="col-sm-1 col-form-label">Nome do produto:</label>
              <div class="col-sm-5">
                <input type="text" class="form-control" placeholder="Digite o nome do produto">
              </div>
          
              <label for="colFormLabel" class="col-sm-1 col-form-label">Sigla do produto:</label>
              <div class="col-sm-5">
                <input type="text" class="form-control" placeholder="Digite a Sigla do produto">
              </div>
            </div>
          
            <div class="form-group row">
              <label for="colFormLabel" class="col-sm-1 col-form-label">Emissor de crédito:</label>
              <div class="col-sm-5">
                <select aria-label="Default select example" cSelect>
                  <option></option>
                  <option value="1">One</option>
                  <option value="2">Two</option>
                  <option value="3">Three</option>
                </select>
              </div>
          
              <label for="colFormLabel" class="col-sm-1 col-form-label">Nome do crédito:</label>
              <div class="col-sm-5"> 
                <select aria-label="Default select example"cSelect>
                  <option></option>
                  <option value="1">One</option>
                  <option value="2">Two</option>
                  <option value="3">Three</option>
                </select>
              </div>
          
            </div>
          
            <div class="form-group row">
              <label for="colFormLabel" class="col-sm-1 col-form-label">Pagador da tarifa:</label>
              <div class="col-sm-5">
                <select aria-label="Default select example" cSelect>
                  <option selected> </option>
                  <option value="1">One</option>
                  <option value="2">Two</option>
                  <option value="3">Three</option>
                </select>
              </div>
            </div>
          
            <br><br><br>
            <div id="centralizar">
              <button type="submit" class="btn btn-primary btn-sm">Pesquisar</button>
            </div>
            <div id="centro">
              <button type="submit" class="btn btn-danger btn-sm">limpar</button>
            </div>
          </form>
				</ng-template>
			</div>
		</div>
	</div>
</div>
<br><br>

<table class="table">
  <thead class="text-white" id="table">
    <tr>
      <th scope="col">Nome do produto</th>
      <th scope="col">Sigla</th>
      <th scope="col">Emissor do crédito</th>
      <th scope="col">Nome do Crédito</th>
      <th scope="col">Vigência</th>
      <th scope="col">Pagador da Tarifa</th>
      <th scope="col">Ação</th>
    </tr>
  </thead>
  
</table>



    </c-card-body>
  </c-card>
</c-col>


