:host {
  #exampleColorInput {
    min-width: 2.5rem;
  }
  .color-box {
    min-width: 2rem;
    min-height: 2rem;
  }
    #centralizar{
      position:absolute; 
      top:50%;
      left:55%;
      transform: translate(-50%, -50%);
      margin-top: 95px;
      border-radius: 50px;
    }
    #centro{
      position:absolute; 
      top:50%;
      left:47%;
      transform: translate(-50%, -50%);
      margin-top: 95px;
    }
    #btn-rigth{
      position:absolute; 
      top:4%;
      left:90%;
      transform: translate(-50%, -50%);
      margin-top: 0px;
    }
    #table{
      background: #9e9e9e;
    }
    #show{
      background: white;
    }
}
